<html lang="en">
	<head>
		<title>WATHER</title>
		<link rel="icon" href="/img/cloud.png">
		<link rel="stylesheet" href="./css/styles.css" />
	</head>
	<body>
		<div class="main-content">
			{{>header}}
			<p>Use this site to get the weather</p>
			<form>
				<input type="text" placeholder="Write any Location">
				<button>Search</button>
			</form>
			<p id="message-one"></p>
			<p id="message-two"></p>
		</div>


		{{>footer}}

		<script src="./js/app.js"></script>
	</body> 
</html>